<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>

<body>
	<div class="main">
		<h1>$var</h1>
		<div class="w3l_main_grids">
			<div class="w3l_main_grids_left">
				<div class="w3l_main_grids_left_grid1">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Your Name" >
						<input type="email" name="Email" placeholder="Your Email Address" >
						<input type="text" name="Website" placeholder="Your Website" >
						<input type="text" name="Subject" placeholder="Your Subject" >
						<textarea name="Message" placeholder="Type Your Text Here...." ></textarea>
						<input type="submit" value="Submit">
					</form>
					<div class="close"> </div>
				</div>
				<div class="w3l_main_grids_left_grid2">
					<h3>Subscribe to our newsletter</h3>
					<div class="subscribe">
						<form action="#" method="post">
							<input type="email" name="Email" placeholder="Your Email Address" >
							<input type="submit" value="Send">
						</form>
						<div class="social_icons social_icons_sub">
							<ul>
								<li><a href="#" class="facebook"></a></li>
								<li><a href="#" class="twitter"></a></li>
								<li><a href="#" class="tumblr"></a></li>
								<li><a href="#" class="in"></a></li>
								<li><a href="#" class="v"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="w3l_main_grids_right">
				<div class="w3l_main_grids_right_grid1">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Your Name" >
						<input placeholder="Password" name="Password" type="password" required="">
						<input type="submit" value="Submit">
					</form>
					<div class="close1"> </div>
				</div>
				<div class="w3l_main_grids_right_grid2">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="User Name" >
						<input placeholder="Password" name="Password" type="password" required="">
						<div class="options">
							<select id="country" onchange="change_country(this.value)" class="frm-field required dropdown">
								<option value="null">Select Service</option>
								<option value="null">Service1</option>         
								<option value="AX">Service2</option>
								<option value="AX">Service3</option>
								<option value="AX">Service4</option>
							</select>
						</div>
						<input type="submit" value="Login">
						<div class="clear"> </div>
					</form>
					<div class="w3ls_forgot">
						<a href="#">Forgot Password</a>
						<a href="#">Sign Up Here...</a>
					</div>
					<div class="close2"> </div>
				</div>
				<div class="w3l_main_grids_right_grid3">
					<div class="social_icons">
						<ul>
							<li><a href="#" class="facebook"></a></li>
							<li><a href="#" class="twitter"></a></li>
							<li><a href="#" class="tumblr"></a></li>
							<li><a href="#" class="in"></a></li>
							<li><a href="#" class="v"></a></li>
						</ul>
					</div>
					<h3>Subscribe To My Newsletter</h3>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Your Email Address" >
						<input type="submit" value="Subscribe">
					</form>
					<div class="close3"> </div>
				</div>
			</div>
			<div class="clear"> </div>
			<div class="wthree_leave_your_comment">
				<h3>Leave Your Comment Here</h3>
				<div class="wthree_leave_your_commentl">
					<form action="#" method="post">
						<h4>Your Name*</h4>
						<input type="text" name="Name" placeholder="Your Name" >
						<h4>Your Email*</h4>
						<input type="email" name="Email" placeholder="Your Email Address" >
						<h4>Your Website*</h4>
						<input type="text" name="Website" placeholder="Your Website">
					</form>
				</div>
				<div class="wthree_leave_your_commentr">
					<form action="#" method="post">
						<h4>Your Comment Here*</h4>
						<textarea name="Message" placeholder="Type Your Text Here...." ></textarea>
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="clear"> </div>
				<div class="close4"> </div>
			</div>
		</div>
		<div class="copyright">
			<p> 2016 Easy Multiple Forms Widget. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
</body>
</html>