
<div class="xs">
    <h3>Configurações da tela de estatísticas</h3>
    <div class="tab-content">
        <div class="tab-pane active" id="horizontal-form">
            <form class="form-horizontal" id="form_dados"> 
                <div class="col_3">
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-plus-circle icon-rounded"></i>
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-plus-circle icon-rounded"></i>
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-plus-circle icon-rounded"></i>
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-plus-circle icon-rounded"></i>
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-1 col-sm-offset-9">
                            <button type="submit" class="btn btn-primary" id="botao-gravar">Gravar</button>
                        </div>
                        
                        <div class="col-sm-1">
                            <button type="reset" class="btn btn-default" onclick="limpa()">Limpar</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="it" name="it" value="abertura_terminais" />                
                <input type="hidden" id="id" name="id" value="0" />
            </form>
        </div>
    </div>	
</div>
