<div class="col_3" id="linha_$num">
    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-plus-circle icon-rounded" id="icone_1_$num" onclick="configWidget($num,1)"></i>
            <div class="stats" id="txt_1_$num">
            </div>
        </div>
    </div>
    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-plus-circle icon-rounded" id="icone_2_$num" onclick="configWidget($num,2)"></i>
            <div class="stats" id="txt_2_$num">
            </div>
        </div>
    </div>
    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-plus-circle icon-rounded" id="icone_3_$num" onclick="configWidget($num,3)"></i>
            <div class="stats" id="txt_3_$num">
            </div>
        </div>
    </div>
    <div class="col-md-3 widget widget1">
        <div class="r3_counter_box">
            <i class="pull-left fa fa-plus-circle icon-rounded" id="icone_4_$num" onclick="configWidget($num,4)"></i>
            <div class="stats" id="txt_4_$num">
            </div>
        </div>
    </div>
</div>