<div class="form-group mb-n">                    
    <label for="smallinput" class="col-sm-2 control-label label-input-sm"></label>

    <div class="col-sm-4">

        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <div class="botao-ep">
                <i class="i_botao_buscar fa fa-fast-backward" onclick="document.getElementById('popup').style.display='block';"></i>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="botao-es">
                <i class="i_botao_buscar fa fa-backward" onclick="document.getElementById('popup').style.display='block';"></i>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="botao-es">
                <i class="i_botao_buscar fa fa-forward" onclick="document.getElementById('popup').style.display='block';"></i>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="botao-buscar">
                <i class="i_botao_buscar fa fa-fast-forward" onclick="document.getElementById('popup').style.display='block';"></i>
            </div>
        </div>
    </div>
</div>