<div class="form-group mb-n">                    
    <label for="smallinput" class="col-sm-2 control-label label-input-sm"></label>

    <div class="col-sm-4">

        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <div class="botao-ep" onclick="btnsPercorrer('i')">
                <i class="i_botao_buscar fa fa-fast-backward"></i>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="botao-es" onclick="btnsPercorrer('a')">
                <i class="i_botao_buscar fa fa-backward"></i>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="botao-es" onclick="btnsPercorrer('p')">
                <i class="i_botao_buscar fa fa-forward" ></i>
            </div>
        </div>
        <div class="col-sm-2" onclick="btnsPercorrer('f')">
            <div class="botao-buscar">
                <i class="i_botao_buscar fa fa-fast-forward"></i>
            </div>
        </div>
    </div>
</div>