<script type="text/javascript">
        $(function () {
              $("#id_loterica").mask("99999999");
              $("#telefone").mask("(99)9999-9999");
        });
</script>
<div class="xs">
<h3>Dados da Conta Bancária</h3>
    <div class="tab-content">
        <div class="tab-pane active" id="horizontal-form">
            <form class="form-horizontal" id="form_dados">     
                $btns_percorrer                            
                <div class="form-group mb-n">
                        <label for="smallinput" class="col-sm-2 control-label label-input-sm">Número da Conta Corrente</label>
                        <div class="col-sm-4">
                            <input name="conta_corrente" type="text" class="form-control1 input-lg" id="conta_corrente" placeholder="Conta Corrente"  required>
                        </div>
                </div>
                <div class="form-group mb-n">
                    <label for="largeinput" class="col-sm-2 control-label label-input-lg">Dígito Verificador</label>
                    <div class="col-sm-1">
                        <input name="dv" type="text" class="form-control1 input-lg" id="dv" placeholder="Dígito Verificador" required>
                    </div>
                </div>
                <div class="form-group mb-n">
                    <label for="largeinput" class="col-sm-2 control-label label-input-lg">Nome</label>
                    <div class="col-sm-6">
                        <input name="nome_conta" type="text" class="form-control1 input-lg" id="nome_conta" placeholder="Nome Conta" required>
                    </div>
                </div>
                <div class="form-group mb-n">
                        <label for="largeinput" class="col-sm-2 control-label label-input-lg">Operação</label>
                        <div class="col-sm-1">
                            <input  name="operacao" type="text" class="form-control1 input-lg" id="operacao" placeholder="Tipo de Funcionário" required>
                        </div>
                </div>
                <div class="form-group mb-n">
                    <label for="largeinput" class="col-sm-2 control-label label-input-lg">Agência</label>
                    <div class="col-sm-6">
                        <input name="agencia" type="text" class="form-control1 input-lg" id="agencia" placeholder="Agência" required>
                    </div>
                </div>
                <div class="form-group mb-n">
                        <label for="largeinput" class="col-sm-2 control-label label-input-lg">Telefone da Agência</label>
                        <div class="col-sm-2">
                            <input  name="telefone" type="text" class="form-control1 input-lg" id="telefone" placeholder="(XX)-XXXX-XXXX" required>
                        </div>
                </div>
                <div class="form-group mb-n">
                        <label for="largeinput" class="col-sm-2 control-label label-input-lg">Gerente da Agência</label>
                        <div class="col-sm-6">
                            <input  name="gerente" type="text" class="form-control1 input-lg" id="gerente" placeholder="Nome do Gerente" required>
                        </div>
                </div>
                
                <div class="form-group mb">
                        <label for="smallinput" class="col-sm-2 control-label label-input-sm">Lotérica</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="input-group-addon" onclick="ativaPopUp('lotericas','id_loterica','Consulta código Lotérica')">
                                    <i class="i_botao_buscar fa fa-search" ></i>
                                </div>
                                <input  name="id_loterica" type="text" class="form-control1 input-lg" id="id_loterica" placeholder="Cód Lotérica" 
                                        onchange="buscaNome('lotericas','id_loterica')" 
                                        required>                        
                            </div>
                        </div> 
                        <div class="col-sm-6">
                            <div class="well-sm" id="label_id_loterica">
                            </div>
                        </div>
                </div>
                <div class="form-group">
                        <label for="txtarea1" class="col-sm-2 control-label">Observações</label>
                        <div class="col-sm-8">
                            <textarea name="observacoes" id="observacoes" cols="50" rows="4" class="form-control1" placeholder="Observações do Terminal" ></textarea>
                        </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-1 col-sm-offset-9">
                            <button type="submit" class="btn btn-primary" id="botao-gravar">Gravar</button>
                        </div>
                        <div class="col-sm-1">
                            <button type="reset" class="btn botao-deletar" onclick="deletarDados()">Excluir</button>
                        </div>
                        
                        <div class="col-sm-1">
                            <button type="reset" class="btn btn-default" onclick="limpa()">Limpar</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="it" name="it" value="contas" />                
                <input type="hidden" id="id" name="id" value="0" />
            </form>
        </div>
    </div>	
</div>

