   
            <div class="col_3">
                    <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar dollar1 icon-rounded"></i>
                            <div class="stats">
                              <h5><strong id="conteudo_acm_hoje">$acm_dia</strong></h5>
                              <span>Acumulado Hoje</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar dollar1 icon-rounded"></i>
                            <div class="stats">
                              <h5><strong id="conteudo_acm_semana">$acm_semana</strong></h5>
                              <span>Acumulado Semana</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget">
                            <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar dollar1 icon-rounded"></i>
                            <div class="stats">
                              <h5><strong id="conteudo_acm_mes">$acm_mes</strong></h5>
                              <span>Acumulado Mês</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
            </div>
            <div class="col_3">
                    <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar dollar1 icon-rounded"></i>
                            <div class="stats">
                              <h5><strong id="conteudo_acm_hoje">$saldo_cofre_1</strong></h5>
                              <span>Saldo Cofre 1</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 widget">
                            <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar dollar1 icon-rounded"></i>
                            <div class="stats">
                              <h5><strong id="conteudo_acm_mes">$saldo_cofre_2</strong></h5>
                              <span>Saldo Cofre 2</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
            </div>