<div id="popup" class="popup_c">
	<div class="activity_box">
            <div class="col-sm-11"><br><br></div><div class="botao-fechar" onclick="document.getElementById('popup').style.display='none';"><b class="i_botao_fechar">X</b></div>
            <div class="form-group mb-n">
                <div class="col-sm-5">
                    <input type="text" class="form-control1 input-lg" id="dados_busca" placeholder="Sua Busca" name="sua_busca" required>                                                
                </div>
                <div class="col-sm-2">
                    <div class="botao-buscar" onclick="consultaDadosBusca('$tabela')">
                        <i class="i_botao_buscar fa fa-search"></i>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="selector1" class="col-sm-2 control-label">Campo Buscar</label>
                        <div class="col-sm-8"><select name="selector1" id="selector1" class="form-control1">
                                $opt
                        </select></div>
                    </div>
                </div>
            </div>
            <div class="scrollbar" id="style-2">
                
                
                <table class="table" id="tab_dados">
                </table>
            </div>
	</div>			
    </div>
