
<div class="xs">
<h3>Dados do Terminal</h3>
    <div class="tab-content">
        <div class="tab-pane active" id="horizontal-form">
            <form class="form-horizontal">                                
                <div class="form-group mb-n">
                        <label for="smallinput" class="col-sm-2 control-label label-input-sm">Código</label>
                        <div class="col-sm-3">
                                <input type="text" class="form-control1 input-lg" id="codigo" placeholder="Código do Terminal na Caixa">
                        </div>
                </div>
                <div class="form-group mb-n">
                    <label for="largeinput" class="col-sm-2 control-label label-input-lg">Nome</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control1 input-lg" id="nome" placeholder="Nome do terminal. Ex.: Terminal 1">
                    </div>
                </div>
                <div class="form-group mb-n">
                        <label for="largeinput" class="col-sm-2 control-label label-input-lg">Marca</label>
                        <div class="col-sm-6">
                                <input type="text" class="form-control1 input-lg" id="marca" placeholder="Marca">
                        </div>
                </div>
                <div class="form-group mb-n">
                        <label for="largeinput" class="col-sm-2 control-label label-input-lg">Modelo</label>
                        <div class="col-sm-6">
                                <input type="text" class="form-control1 input-lg" id="modelo" placeholder="Modelo do terminal">
                        </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-9">
                            <div class="btn btn-primary">Gravar</div>
                            <div class="btn btn-default">Limpar</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>					
    <div class="bs-example" data-example-id="form-validation-states">
    </div>
</div>
